layout {
    background-color "transparent"
    //gaps 14
    gaps 7
    center-focused-column "never"
    always-center-single-column

    // Customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        // fixed 1920
    }

    // Customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    default-column-width { proportion 0.5; }

    // Forcus-ring
    focus-ring {
        off
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    // Border-Similar to the focus ring, but always visible
    border {
        // off
        width 3
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    // Drop shadows
    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animation settings.
animations {
    // off
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 1.0
}





include "./noctalia.kdl"

include "env.kdl"
include "rules.kdl"
include "spawns.kdl"
include "inputs.kdl"
include "outputs.kdl"
include "keybinds.kdl"
include "./animations/burn-ashes.kdl"
