layout {

    focus-ring {
        active-color   "#ffb871"
        inactive-color "#141407"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb871"
        inactive-color "#141407"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb871"
        inactive-color "#6a3c00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb87180"
    }
}

recent-windows {
    highlight {
        active-color "#ffb871"
        urgent-color "#ffb4ab"
    }
}
