layout {

    focus-ring {
        active-color   "#ffabf2"
        inactive-color "#1e100e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffabf2"
        inactive-color "#1e100e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffabf2"
        inactive-color "#6f2c6b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffabf280"
    }
}

recent-windows {
    highlight {
        active-color "#ffabf2"
        urgent-color "#ffb4ab"
    }
}
