/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 1
    transform "normal"
    position x=1280 y=0
}
output "DP-3" {
	mode "1920x1080@309.997"
	scale 1.0
	position x=0 y=0
	focus-at-startup
}

output "DP-1" {
    mode "1920x1080@309.997"
    scale 1.0
    position x=0 y=0
    focus-at-startup
}
