window-rule {
    match app-id="org-tlauncher-tlauncher-rmo-TLauncher"
    open-floating true
    default-floating-position x=10 y=0 relative-to="top"
}
window-rule {
    match app-id=r#"kitty-popup"#
    open-floating true
        default-window-height { proportion 0.3; }
        default-column-width { proportion 0.3; }
}
window-rule {
    match app-id=r#"kitty-nmtui"#
    open-floating true
        default-window-height { proportion 0.5; }
        default-column-width { proportion 0.4; }
}
window-rule {
    match app-id=r#"waypaper"#
    open-floating true
        default-window-height { proportion 0.3; }
        default-column-width { proportion 0.3; }
}

window-rule {
    //geometry-corner-radius 14
    geometry-corner-radius 4
    clip-to-geometry true
    draw-border-with-background false
    background-effect{
        blur true
    }
}
/-window-rule {
    match app-id="Waydroid"
    default-column-width { proportion 1.0; }
    default-window-height { proportion 1.0; }

}

// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}
