configuration {
    modi:                "drun,emoji";
    font:                "Maple Mono NF CN Bold 13";
    show-icons:          true;
    icon-theme:          "Papirus";
    drun-display-format: "{name}";
    emoji-display-format: "{emoji}";
}

@theme ".config/rofi/themes/sazv.rasi"
