@import "sazv-tokens-dark.rasi"

window {
    background-color: @bg;
    border-radius:    12px;
    border:           4px;
    border-color:     #424242;
    width:            400px;
    padding:          10px;
}

mainbox {
    background-color: transparent;
    spacing:          8px;
}

inputbar {
    background-color: @bg-alt;
    border-radius:    8px;
    padding:          10px 12px;
    children:         [entry];
}

entry {
    background-color:  transparent;
    text-color:        @fg;
    placeholder-color: @fg-dim;
    placeholder:       "󰞅  search emoji...";
    cursor:            text;
    font:              "Maple Mono NF CN Bold 13";
}

listview {
    background-color: transparent;
    columns:          8;
    lines:            5;
    spacing:          4px;
    scrollbar:        false;
    fixed-height:     true;
}

element {
    background-color: transparent;
    border-radius:    8px;
    padding:          6px;
    children:         [element-icon];
    orientation:      vertical;
}

element normal normal {
    background-color: transparent;
}

element alternate normal {
    background-color: transparent;
}

element selected normal {
    background-color: @accent;
}

element-icon {
    background-color: transparent;
    size:             32px;
}
