@import "sazv-tokens-dark.rasi"

window {
    background-color: @bg;
    border-radius:    10px;
    border:           2px;
    border-color:     @win-border;
    width:            600px;
    padding:          10px;
}

mainbox {
    background-color: transparent;
    spacing:          8px;
}

inputbar {
    background-color: @bg-alt;
    border-radius:    10px;
    padding:          10px 12px;
    spacing:          8px;
    children:         [entry];
}

entry {
    background-color:  transparent;
    text-color:        @fg;
    placeholder-color: @fg-dim;
    placeholder:       " Search...";
    cursor:            text;
    font:              "Maple Mono NF CN Bold 13";
}

listview {
    background-color: transparent;
    columns:          1;
    lines:            6;
    spacing:          2px;
    scrollbar:        false;
}

element {
    background-color: transparent;
    border-radius:    10px;
    padding:          9px 12px;
    spacing:          12px;
    children:         [element-icon, element-text];
}

element normal normal {
    background-color: transparent;
    text-color:       @fg;
}

element alternate normal {
    background-color: transparent;
    text-color:       @fg;
}

element selected normal {
    background-color: @accent;
    text-color:       @accent-fg;
}

element normal urgent {
    text-color: @urgent;
}

element selected urgent {
    background-color: @urgent;
    text-color:       @accent-fg;
}

element-icon {
    background-color: transparent;
    size:             22px;
}

element-text {
    background-color: transparent;
    text-color:       inherit;
    vertical-align:   0.5;
    font:             "Maple Mono NF CN Bold 13";
}
